<div class="containr">
  <table width="100%" height="66">
    <tbody>
      <tr>
        <td width="213">
          <%= wicked_pdf_image_tag "logo.png" %>
        </td>
        <td class="pull-left epost">
          <p>Epost <span class="e1">jacob@dbmekk.no</span></p>
          <p>Tlf <span class="e2">45954545</span></p>                            
        </td>
        <td class="pull-right">
          <p>Org.nr:NO 12345678 MVA</p>
          <p>Foretaksregistered</p>                            
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="containr">
  <table width="100%" class="Til">
    <thead>
      <tr>
        <th ><p>Til</p></th>
        <th ><p>Fra</p></th>
        <th ><p>Faktura<span class="pull-right">#<%= @bill.bill_number %></span></p></th>
      </tr>
    </thead>
    <tbody class="Demokunde">
      <tr>
        <td width="341.33" class="pull-left"><b><%= @bill.event.title %></b></td>
        <td width="341.33"><b>Fiken-demo - Eneste klipp AS</b></td>
        <td class="tdcolor" width="330"><b>Forfallsdato</b> <span class="pull-right"><%= @bill.event.try(:start).try(:strftime, "%F") %></span></td>
      </tr>
      <tr>
        <td width="341.33" class="pull-left"><%= @bill.event.try(:license_no) %></td>
        <td width="341.33">Testveien 1</td>
        <td class="tdcolor" width="330"><b>A betale</b> <span class="pull-right"><%= @bill.grand_total %></span></td>
      </tr>
      <tr>
        <td width="341.33" class="pull-left"><%= @bill.event.try(:email) %></td>
        <td width="341.33" class="pull-left">0123 OSLO</td>
        <td width="341.33">Dato <span class="pull-right" style="padding-right:10px;"><%= Date.today.strftime("%F") %></span></td>
      </tr>
      <tr>
        <td width="341.33" > </td>
        <td width="341.33" > </td>
        <td width="341.33">Kundenr <span class="pull-right" style="padding-right:10px;"><%= @bill.grand_total %></span></td>
      </tr>
      <tr>
        <td width="341.33" > </td>
        <td width="341.33" > </td>
        <% if @bill.payment_method == "Bank" || @bill.payment_method == "Email" %>
          <td class="tdcolor" width="330"><b>Kontonr</b> <span class="pull-right">XXXXX-XXXXXX</span></td>
        <%end%>
      </tr>
      <tr>
        <td width="341.33" > </td>
        <td width="341.33" > </td>
        <% if @bill.payment_method == "Bank" || @bill.payment_method == "Email" %>
          <td colspan="2" class="tdcolor" width="330"><b>KID</b> <span class="pull-right">#<%= @bill.bill_number %></span></td>
        <%end%>
      </tr>
      <tr>
        <td width="341.33" > </td>
        <td width="341.33" > </td>
        <td width="341.33" style="font-size:16px;">vennligst oppgi fakturanr ved betaling</td>
      </tr>
    </tbody>
  </table>
</div>
<% data = @bill.services + @bill.items %>
<% data.each_slice(25).with_index do |d, i| %>
<div class="containr-btm" style="<%= i == 0 ? 'min-height: 870px;' : 'min-height: 1300px;' %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Beskrivelse</th>
        <th>Enhetspris</th>
        <th>Antall</th>
        <th>Mva (%)</th>
        <th>Discount (%)</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      <% d.each do |b| %>
        <tr>
          <td><%= b.name %></td>
          <td><%= b.price %></td>
          <td>1</td>
          <td>25</td>
          <td><%=
            begin
              discount = BillsService.where(bill_id: @bill.id, service_id: b.id).first.discount
              discount.present? ? discount : "0" 
            rescue
              "0"
            end
            %></td>
          <td><%= b.grand_total.round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>