<%= form_for @event, html: {class: "rounded-form", id: "contact-form"}, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.text_field :title, class: "form-control", required: true, placeholder: "Title" %>
    <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email Address" %>
    <%= f.text_field :phone_number, class: "form-control", required: true, placeholder: "Phone: 12345678" %>
    <%= f.text_field :license_no, class: "form-control", required: true, placeholder: "License: AA-55555" %>
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    <%= f.hidden_field :start, as: :hidden, value: Date.today, class: 'input-sm start_hidden' %>
    <%= f.hidden_field :end, as: :hidden, value: Date.today, class: 'input-sm end_hidden' %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-important-xl" %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#event_license_no").mask('AA-00000');;
    $("#event_phone_number").mask('00000000');;
  });
</script>

<style>
  #contact-form{
    padding-left: 0px;
  }
  .rounded-form textarea.form-control{
    margin-bottom: 0px;
  }
</style>